In [2]:
from data_read import data_reading
from drop_columns import drop_columns
import pandas as pd
dataset = data_reading("raw_data_cocktail.json")
dataset.info()
drop_columns(dataset, ["id", "createdAt", "updatedAt", "tags", "imageUrl"])
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            134 non-null    int64
 1   name          134 non-null    object
 2   category      134 non-null    object
 3   glass         134 non-null    object
 4   tags          35 non-null     object
 5   instructions  134 non-null    object
 6   imageUrl      134 non-null    object
 7   alcoholic     134 non-null    int64
 8   createdAt     134 non-null    object
 9   updatedAt     134 non-null    object
 10  ingredients   134 non-null    object
dtypes: int64(2), object(9)
memory usage: 11.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          134 non-null    object
 1   category      134 non-null    object
 2   glass         134 non-null    object
 3   instructions  134 non-null    object
 4   alcoholic     134 non-null    int64
 5   ingredients   134 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.4+ KB

,name,category,glass,instructions,alcoholic,ingredients
0,Mojito,Cocktail,Highball glass,Muddle mint leaves with sugar and lime juice. ...,1,"[{'id': 170, 'name': 'Soda water', 'descriptio..."
1,Old Fashioned,Cocktail,Old-fashioned glass,Place sugar cube in old fashioned glass and sa...,1,"[{'id': 513, 'name': 'Water', 'description': '..."
2,Long Island Tea,Ordinary Drink,Highball glass,Combine all ingredients (except cola) and pour...,1,"[{'id': 305, 'name': 'Light Rum', 'description..."
3,Negroni,Ordinary Drink,Old-fashioned glass,"Stir into glass over ice, garnish and serve.",1,"[{'id': 482, 'name': 'Sweet Vermouth', 'descri..."
4,Whiskey Sour,Ordinary Drink,Old-fashioned glass,"Shake with ice. Strain into chilled glass, gar...",1,"[{'id': 409, 'name': 'Powdered Sugar', 'descri..."